@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.navbar1 {
    float: left;
}

.navbar1 a {
    display: block;
    padding: 8px;
}

.navbarul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.navbar1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.red:hover {
    background-color: red;
}

.blue:hover {
    background-color: blue;
}

.green:hover {
    background-color: rgb(0, 193, 0);
}

.navbar1 {
    font-family: Arial;
}

    /* quiz */
    .body {
        background-color: #b8c6db;
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/212168da-ee3e-4487-b9f2-28d245ecb3d6/dfc40yr-f1a3f82d-5f80-48c8-9246-f9c16f3ba3a2.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzIxMjE2OGRhLWVlM2UtNDQ4Ny1iOWYyLTI4ZDI0NWVjYjNkNlwvZGZjNDB5ci1mMWEzZjgyZC01ZjgwLTQ4YzgtOTI0Ni1mOWMxNmYzYmEzYTIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.6geODoGCl2sPb-slg3RZG7hXWVa6wL02wdQdIokod0Y);
        font-family: 'Poppins', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        margin: 0;
        background-size: 100%;
    }

    .quiz-container {
        border-radius: 10px;
        width: 600px;
        overflow: hidden;
        background-color: #00000042;
    }

    .quiz-header {
        padding: 4rem;
    }

    h2 {
        padding: 1rem;
        text-align: center;
        margin: 0;
        color: white;
    }

    .quizul {
        list-style-type: none;
        padding: 0;
    }

    .quizul li {
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    .quizul li label {
        cursor: pointer;
        color: white;
    }

    button {
        background-color: red;
        color: #fff;
        border: none;
        display: block;
        width: 100%;
        cursor: pointer;
        font-size: 1.1rem;
        font-family: inherit;
        padding: 1.3rem;
    }

    button:hover {
        background-color: blue;
    }