@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://cdn.dribbble.com/users/1784737/screenshots/4718244/comp_5.gif);
    background-size: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.red:hover {
    background-color: red;
}

.blue:hover {
    background-color: blue;
}

.navbar1 {
    font-family: Arial;
}

.container {
    width: 90%;
    padding: 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}

.box img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.box:hover {
    transform: scale(1.3);
    z-index: 3;
}

.text {
    display: flex;
    justify-content: center;
    font-family: Arial;
}

.red, .blue {
    margin-top: 12px;
}